<div class="container">

  <div class="row"></div>
   
      <div class="row">
    <div class="col"></div>
  <div class="col">

    <div class="mt-4 list-group shadow p-3 mb-5 bg-white rounded">
      <a   *ngFor='let user of Users' class="list-group-item text-center" >
        <h1>{{user.id}} <i class="fas fa-user"></i>
    
        </h1><br>
        <h2><strong>{{user.userName}}  </strong><i class="fas fa-file-signature"></i></h2> 
    
    
      </a>
     
    
    </div>

  </div>
  <div class="col"></div>
  </div>
  <div class="row">
</div>
</div>
